[safe]
	directory = /storage/emulated/0/Download/astro-blog-cms/astro-blog-cms
	directory = /storage/emulated/0/Download/astro-blog
	directory = /storage/emulated/0/Download/astro-blog
	directory = /storage/emulated/0/Download/astro-blog
	directory = /storage/emulated/0/Download/astro-blog
	directory = /storage/emulated/0/Download/AstroBlog-Sveltia-CMS-Full/astro-blog-cms
	directory = /storage/emulated/0/Download/promptcopy-astro/promptcopy-astro
	directory = /storage/emulated/0/Download/promptcopy-astro/promptcopy-astro
[user]
	name = amitsi07
	email = amtsi5630@gmail.com
